* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.watcherCard {
  margin-top: 80px;
}

.watcherCard button {
  margin: auto 5px;
  width: 100px;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.folderPath {
  flex: 1;
}

#alert {
  position: fixed;
  top: 10px;
  transform: translateX(-50%);
  left: 50%;
  display: none;
  text-transform: capitalize;
}

.openFolderOption {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#folders {
  margin-bottom: 20px;
}
